services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    image: securebank/jenkins:latest
    container_name: securebank-jenkins
    privileged: true
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - securebank-ci
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock

volumes:
  jenkins_data:

networks:
  securebank-ci:
