services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: securebank-jenkins
    privileged: true
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - securebank-ci

volumes:
  jenkins_data:

networks:
  securebank-ci:
