apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
    - port: 8000
      targetPort: 8000
