apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
        app.kubernetes.io/name: {{ .Chart.Name }}
        app.kubernetes.io/version: {{ .Chart.AppVersion }}
    spec:
      containers:
        - name: account-service
          image: "{{ .Values.services.account.image.repository }}:{{ .Values.services.account.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.services.account.port }}
          readinessProbe:
            httpGet:
              path: /health
              port: {{ .Values.services.account.port }}
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.services.account.port }}
            initialDelaySeconds: 30
            periodSeconds: 20
